.drkn{

  background: rgba(0,0,0, 0.45);
  -moz-transition: background .2s linear;
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
    -webkit-box-shadow: inset -10px 80px 120px -30px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset -10px 80px 120px -30px rgba(0, 0, 0, 0.4);
    box-shadow: inset -10px 80px 120px -30px rgba(0, 0, 0, 0.4);
}

.blr{

        -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  z-index: -1;
}


.drkn .hero-message
{
z-index: 10;
}

.navigation-overlay:not(.sticky)
{
  background-color:transparent;
}


.footer.minimal {
    padding: 10px 0px;
    text-align: center;
}

.wa
{
  border-color: white;
  color: white;
}

.sw
{
  background-color: white !important;
  color:#555 !important;
}


.sw2
{
  background-color: #4c69ba !important;
  color:#fff !important;
  line-height: 50px;
      font-family: "Montserrat", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    letter-spacing: 0.02em;
}

.sw,.sw1,.sw2,.orr
{
max-width: 169px !important;
width:100%;
height: 50px !important;
margin: 0 auto;
display:block;
text-align: center;

}
.orr
{
  font-size:24px;
  color: white;
  height:90px !important;
  line-height: 90px !important;
}
/*responsiestyles*/
@media screen and (max-width: 992px) {
.navbar-collapse
{
  background-color: rgba(17, 17, 17, 0.9);
}
}


@media screen and (min-width: 993px) {
.navbar-header {
    width: 40%;
  }
}

#fb-iframe span{
margin:0 auto;
vertical-align: middle !important;
}

.btn-submit
{
  margin-top:30px;
}
.gmap
{
  height:250px;
}

.buttons-holder a
{
margin-bottom:20px;
}



.footer.minimal .copyright {
    display: block;
    margin-top: 70px;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    text-transform: none !important;
    letter-spacing: 0.05em;
    font-weight: 300;

    }
.footer p
{
      line-height: 20px;
      margin
}
.footer a
{
  color:#eee !important;
}

.mr .big
{
  font-size:22px;
  color: white;
}

.mr .small
{
  font-size:14px;
  color: #4CAD55;
}